.titleWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blogsContainer{
    margin-top: 1.5rem;
}
.blog{
    margin-top: 1.5rem;
}
.title{
    cursor: pointer;
    display: inline;
}
.paragraph{
    margin-top: 0.5rem;
}

.secondaryText{
    font-family: Gilroy-Regular;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: var(--color-secondary);
    display: flex;
}

.dot{
    font-size: 6px;
    color: var(--color-secondary);
    margin: 0 8px 0 8px;
    display: inline-flex;
    align-items: center;
}

.tagsContainer{
    margin-top: 0.5rem;
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    gap: 0.2rem;
}