.paragraph{
    margin-top: 1.5rem;
}

.technologies{
    margin-top: 1.5rem;
}

.link{
    font-family: Gilroy-Bold;
    color: var(--color-link-blue);
}

.link:hover {
    text-decoration: underline;
}

.connect{
    margin-top: 1.5rem;
}

.socialLinks{
    margin-top: 0.5rem;
}